h1,
p {
  font-family: Lato;
}
h2 {
  font-family: Lato;
  background-color: aliceblue;
}
:root {
  --badge-bg: #5A67CB;
}




/* test above */

[data-mkEditable] {
  position: relative;
  cursor: text;
  width: 100%;
  /* transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); */
}

div[data-mkEditable] {
  line-height: 35px;
}

/* remove input default outline */
[data-mkEditable]:focus {
  outline: none;
}

[data-mkEditable='button']{
  width: 200px;
  min-height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(104, 94, 94);
  color: white;
}

/* mask */
[data-mkEditable]::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 76, 172, 0.2);
  border: 1px solid #5A67CB;
  /* padding: 4px; */
  margin: -4px;

  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(0, 0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  line-height: 1.2;
  font-size: 12px;
  font-weight: normal;
}

/* hide mask */
[data-mkEditable='button']::before {
  background-color: transparent;
}

/* status badge */
[data-mkEditable]::after {
  position: absolute;
  left: -4px;
  top: 0;
  transform: translateY(calc(-100% - 5px));
  background-color: var(--badge-bg);
  padding: 4px;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;

  
  line-height: 1.2;
  font-size: 12px;
  font-weight: normal;
  color: white;
}

[data-mkEditable].hoverActive::before {
  opacity: 1;
  visibility: visible;
}

[data-mkEditable].hoverActive::after {
  content: 'click to edit';
  opacity: 1;
  visibility: visible;
}


/* Editing */
[data-mkEditable].editingActive {
  background-color: rgba(147, 172, 226, 0.712);
}

[data-mkEditable].editingActive::after {
  opacity: 1;
  visibility: visible;
  content: 'Editing';
}

[data-mkEditable].editingActive::before {
  opacity: 1;
  visibility: visible;
}

/* when innerHtml is empty */
[data-mkEditable].isEmpty:not(.editingActive) {
  height: 4px;
  min-height: 0;
  background: transparent;
}

[data-mkEditable].isEmpty:not(.editingActive)::before {
  opacity: 1;
  visibility: visible;
  margin: 0;
  /* background: transparent; */
  background: rgba(90, 103, 203, 0.2);
}

[data-mkEditable].isEmpty:not(.editingActive)::after {
  opacity: 1;
  visibility: visible;
  content: 'Click to edit';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10px;
}

[data-mkEditable].isEmpty:not(.editingActive):hover::after {
  background-color: black;
  cursor: pointer;
}

[data-mkEditable].isEmpty:not(.editingActive){
  cursor: pointer;
}

/* all editingActive can be replaced */
/* [data-mkEditable]:read-write:focus::after {
  height: 100px;
  right: 0;
} */